{
 :deps {jansenh/clj-transmodel {:mvn/version "0.2.0"}
        org.scicloj/noj {:mvn/version "2-beta19.1"}}
 :paths ["notebooks" "resources" "src"]

 :aliases {:run-m {:main-opts ["-m" "jansenh.transmodel-explore.core"]}
           :run-x {:ns-default jansenh.transmodel-explore.core
                   :exec-fn start-notebook
                   :exec-args {:name "noj"}}
           :build {:deps {io.github.clojure/tools.build
                          {:mvn/version "0.10.10"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
